* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 1px 1px 5px black;
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
}

.navButtons > ul {
  display: flex;
  gap: 20px;
}

.navButtons > ul > li {
  list-style: none;
  width: 120px;
  height: min-content;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid black;
  cursor: pointer;
}

.navButtons > ul > li:hover {
  background-color: rgba(218, 165, 32, 0.61);
}

.navButtons > ul > li:active {
  opacity: .7;
}
